@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="images/rsz_restaurant.png"/>
    <h1 class="display-4">Welcome</h1>
    <p>Find restaurants across the globe</p>
</div>
